<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">RateMyPath</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Courses</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
        <a routerLink="professors" class="nav-link">Professors</a>
    </div>
     <div class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#" class="nav-link btn btn-primary">Login</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
